<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="exportkit.figma">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:label="Bounce"
        android:theme="@style/AppTheme">
        <activity
            android:name=".song_list_activity"
            android:exported="false" />
        <activity
            android:name=".splash_activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Bounce">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".song_activity" />
        <activity android:name=".home_activity" />
        <activity android:name=".favorite_activity" />
        <activity android:name=".profile_activity" />
        <activity android:name=".albums_activity" />
        <activity android:name=".recently_played_activity" />
        <activity android:name=".splash2_activity" />
        <activity android:name=".splash3_activity" />
        <activity android:name=".most_played_activity" />
        <activity android:name=".playlists_activity" />
        <activity android:name=".artists_activity" />
        <activity android:name=".artist_playlist_activity" />
        <activity android:name=".search_activity" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>